.tracker {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header {
  font-size: 3rem;
  font-weight: 500;
  color: #fff;
  margin: 3rem auto;
  text-align: center;

  @media only screen and (max-width: 37.5em) {
    font-size: 2.3rem;
    margin: 2.3rem auto;
  }
}
.search {
  background-color: #fff;
  width: 54rem;
  border-radius: 1.2rem;
  display: flex;
  overflow: hidden;

  @media only screen and (max-width: 37.5em) {
    margin: 0 3rem 2rem 3rem;
    width: calc(100% - 6rem);
  }
  &__input {
    font-size: inherit;
    font-style: inherit;
    width: calc(100% - 7rem);
    outline: none;
    border: none;
    padding: 1.6rem 2rem;

    @media only screen and (max-width: 37.5em) {
      font-size: 1.5rem;
      width: calc(100% - 5rem);
      padding: 1.6rem 1rem;
    }
  }
  &__btn {
    width: 5.8rem;
    padding: 1.6rem;
    background-color: #000;
    outline: none;
    border: none;
    margin-left: auto;
    cursor: pointer;

    &:hover,
    &:active {
      background-color: var(--color-grey-dark);
    }

    @media only screen and (max-width: 37.5em) {
      width: 5rem;
    }
  }
}
.info {
  background-color: #fff;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15);
  width: 110rem;
  display: flex;
  justify-content: space-between;
  padding: 3.5rem 3rem;
  border-radius: 1.2rem;
  position: absolute;
  top: 19rem;

  @media only screen and (max-width: 75em) {
    width: calc(100% - 10rem);
  }
  @media only screen and (max-width: 62.5em) {
    margin: 0 3rem;
    flex-wrap: wrap;
  }
  @media only screen and (max-width: 37.5em) {
    justify-content: center;
    padding: 2.2rem;
    width: calc(100% - 6rem);
    top: 15rem;
  }

  &__section {
    margin-right: auto;
    width: 25%;
    padding-right: 2rem;

    @media only screen and (max-width: 62.5em) {
      width: 50%;
    }
    @media only screen and (max-width: 37.5em) {
      padding-right: unset;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &:not(:first-child) {
      border-left: 1px solid hsl(0, 0%, 85%);
      padding-left: 3rem;

      @media only screen and (max-width: 62.5em) {
        &:nth-child(3) {
          border-left: none;
          padding-left: unset;
        }
      }
      @media only screen and (max-width: 37.5em) {
        border-left: none;
        padding-left: unset;
      }
    }
  }
  &__heading {
    font-weight: 700;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--color-grey);
    margin-bottom: 1rem;

    @media only screen and (max-width: 37.5em) {
      font-size: 1rem;
      margin-bottom: 0.7rem;
    }
  }
  &__text {
    font-weight: 500;
    font-size: 2.3rem;

    @media only screen and (max-width: 62.5em) {
      &--ip,
      &--location {
        margin-bottom: 3rem;
      }
    }
    @media only screen and (max-width: 37.5em) {
      font-size: 1.9rem;
      &--ip,
      &--location,
      &--timezone {
        margin-bottom: 2rem;
      }
    }
  }
}

#map {
  width: 100%;
  height: calc(100% - 25rem);
  margin-top: 12rem;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.attribution {
  display: none;
}
